@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>
    
    <strong>Error Type :</strong><br />
    <span>@Model.Exception.Message</span>
    <br />
    <span>@Model.Exception.StackTrace</span>
    <br />
    <span>@Model.Exception.InnerException</span>
</p>

