ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size:20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:orange;
}

input[type=text]{
  font-size:18px;
  background-color:#333;
  resize: vertical;
  font-family: italic, Helvetica, sans-serif;
  font-color:white;

 }
input[type=submit]:hover {
  cursor:pointer;
  background-color:#ffc107;
  color:#000;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.rectangle {
  height: 125px;
  width: 1000px;
  background:url(../images/not.jpg);
  background-size: 100% ;
  background-repeat:no-repeat,no-repeat;
  font-family:Arial;
  color:white;
  font-size:20px;
  margin-left:10px;
 
  
}

.rectangle1 {
  position:static;
  bottom: 80px;
  right: 20px;
  height:390px;
  width: 300px;
  background-color: #FCF3CF ;
  font-family:Arial;
  color:Black;
  font-size:35px;
  position: absolute;
  bottom:-255px;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-style:italic;
}
.rectangle2 {
  position:static;
  bottom: 80px;
  right: 10px;
  height:282px;
  width: 418px;
  font-family:Arial;
  background:url(../images/img.jpg);
  background-size: 100% ;
  background-repeat:no-repeat,no-repeat;
  position: absolute;
  bottom:182px;
  
}
.rectangle3 {
  position:static;
  bottom: 80px;
  left: 10px;
  height:282px;
  width: 418px;
  font-family:Arial;
  background:url(../images/img.jpg);
  background-size: 100% ;
  background-repeat:no-repeat,no-repeat;
  position: absolute;
  bottom:182px;
  
}
table {
  border-collapse: collapse;
  width:1000px;
  margin-left:10px;
  
  
}
td {
  font-family: "Times New Roman", Times, serif;
  border: 0px solid #dddddd;
  text-align: left;
  padding: 15px;
  color:#D68910;
  font-size:20px;
}
th {
  font-style:italic;
  border: 1px solid #FADBD8;
  background-color:#FADBD8;
  text-align: left;
  padding:25px;
  color:black;
  font-family: "Times New Roman", Times, serif;
  font-size:25px;
  -webkit-animation: mymove 10s infinite;
  animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
  background-color: red;
 
}
tr:nth-child(even) :hover {
  background-color:#FFD794;
}
tr:nth-child(odd) :hover {
  background-color:#FFD794;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #FBFCFC ;
}
.closebtn {
  margin-left: 15px;
  color:#1B2631;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color:red;
}
box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  width:100%;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.footer{
	width:100%;
	height:20px;
	position:bottom;
	top:100%;
}
.main2{
	
	background:black;
	border:none;
	font-family:Arial;
	padding-left:1%;
	line-height:6.5em;
	
	
}
/*footer text style*/
.p1{
	font-family:Arial;
	color:white;
	font-size:12px;
	margin-left:10px;
}