
@{
    ViewBag.Title = "Timetablehome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CLASS MANAGEMENT</h1>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel=" stylesheet" href="~/Content/bootstrap.css">
    <link rel=" stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<br/>
<br />
<br />
<br />
<body>
    <div >
        <a button style="padding: 15px 60px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 12px;background-color:#e7e7e7 ;" href ="CreateTimetable">ADD NEW CLASS</button></a>
        <br/>
        <br/>
        <br/>
        <a button style="padding: 15px 60px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 12px;background-color: #e7e7e7;"href ="Timetablelist">CLASS DETAILS</button></a>
        <br/>
        <br/>
        <br/>
        <a button style="padding: 15px 60px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 12px;background-color: #e7e7e7;color:cornflowerblue;" @Html.ActionLink("Report ", "Reports")</button></a>
        <br/>
    </div>
</body>
<br/>
<br />
